
.content{
    border:5px blue solid;
    background-color: ivory;
    margin-left: 10%;
    margin-right: 10%;
}
header{
    border: solid 3px green;
}
header h2{
    border: orange solid 3px;
}
.entry1{
    border:5px lime solid;
    background-color: rgb(236,236,245);
    padding: 15px;
    margin-top: 10px;
}
/*p{
    border: grey solid 2px;
}
*/
.footer{
    border: solid magenta 3px;
}
body{
    background-image: url(paper.png);
}